<h1>Editing Topic</h1>

<%= render 'form' %>

<%= link_to @topic, class: 'btn btn-primary btn-xs' do %>
  <i class="glyphicon glyphicon-zoom-in"></i> Show
<% end %> |
<%= link_to topics_path, class: 'btn btn-primary btn-xs' do %>
  <i class="glyphicon glyphicon-chevron-left"></i> Back
<% end %>
