<ul class="nav nav-tabs" role="tablist">
  <li><%= link_to 'View list', topics_path %></li>
  <li class="active"><%= link_to 'New topic', new_topic_path %></li>
</ul>

<h1>New Topic</h1>

<%= render 'form' %>

<%= link_to topics_path, class: 'btn btn-primary' do %>
  <i class="glyphicon glyphicon-chevron-left"></i> Back
<% end %>
